# /usr/local/systemd/system/baudelaire.service

[Unit]
Description=Baudelaire Neubot Master Server

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User=nobody
Group=nogroup
ExecStart=/usr/local/bin/baudelaire -d /var/lib/neubot -p 8080 -p 9773 -p 80
